[submodule "glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "littlevk"]
	path = rasterizer/littlevk
	url = https://github.com/vedavamadathil/littlevk.git
[submodule "imgui"]
	path = rasterizer/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "rasterizer/stb"]
	path = rasterizer/stb
	url = https://github.com/nothings/stb
[submodule "rasterizer/implot"]
	path = rasterizer/implot
	url = https://github.com/epezent/implot
