*.obj
*.tar.gz
.cache/
.nsc
.polyscope.ini
.vscode/
__pycache__/
build/
compile_commands.json
data/
db.json
experiments/*.png
experiments/meshes
experiments/results
export/
imgui.ini
measurements/
meshes/
output/
results/
runs/
scenes/
