*.blend
*.egg-info/
*.obj
*.pdf
*.pt
*.tar.gz
.cache/
.idea/
.nsc
.polyscope.ini
.venv/
.vscode/
__pycache__/
build/
compile_commands.json
compiled/
data/
db.json
dist/
eval-*/
experiments/*.png
experiments/meshes
experiments/results
export/
imgui.ini
measurements/
resources/figures/
meshes/
output/
results/
runs/
scenes/
submission/
tex/
