*.blend
*.egg-info/
*.obj
*.tar.gz
*.pdf
.cache/
.nsc
.polyscope.ini
.vscode/
__pycache__/
build/
compile_commands.json
compiled/
data/
db.json
experiments/*.png
experiments/meshes
experiments/results
export/
imgui.ini
measurements/
media/
meshes/
output/
results/
runs/
scenes/
evals/
